@model IEnumerable<PartsMySql.Models.Inspection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ctrlNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.humidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inspectionTimeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inspectorComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isArchived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isForReports)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isRewrite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lotNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sampleSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalTimeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VERSION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ctrlNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.humidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inspectionTimeSpan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inspectorComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isArchived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isForReports)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isRewrite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lotNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sampleSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalTimeSpan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VERSION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
