

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="MatrrDigital">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow">
    <title>Line Seiki - Monitoring and Tracking System</title>
    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />

    <!-- ================== BEGIN PAGE LEVEL CSS START ================== -->
    <link rel="stylesheet" href="~/assets/css/icons.css" />
    <link rel="stylesheet" href="~/assets/libs/wave-effect/css/waves.min.css" />
    <link rel="stylesheet" href="~/assets/libs/owl-carousel/css/owl.carousel.min.css" />
    <!-- ================== BEGIN PAGE LEVEL END ================== -->
    <!-- ================== Plugins CSS  ================== -->
    <link href="~/assets/libs/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables/css/select.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/libs/dropzone/css/dropzone.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/assets/libs/flatpicker/css/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/mohithg-switchery/switchery.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/nestable2/jquery.nestable.min.css" rel="stylesheet" />
    <link href="~/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" />



    <!-- ================== added css ================== -->
    <link href="~/assets/libs/datatables/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/libs/smartwizard/css/smartWizardAllMin.css" rel="stylesheet" />
   
    <link href="~/assets/libs/dropify/css/dropify.min.css" rel="stylesheet" />


    <!-- ================== Plugins CSS end ================== -->
    <!-- ================== BEGIN APP CSS  ================== -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/styles.min.css" />

    <!-- ================== END APP CSS ================== -->
    <!-- ================== BEGIN POLYFILLS  ================== -->
    <!--[if lt IE 9]>
        <script src="~/assets/libs/html5shiv/js/html5shiv.js"></script>
        <script src="~/assets/libs/respondjs/js/respond.min.js"></script>
    <![endif]-->
    <!-- ================== END POLYFILLS  ================== -->
    <!-- ================== Plugins CSS  ================== -->
    <link rel="stylesheet" href="~/assets/libs/alertifyjs/css/alertify.min.css" />
    <link href="~/assets/libs/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
    <!-- ================== Plugins CSS end ================== -->
    @RenderSection("styles", required: false)
</head>

<body>
    <!-- Begin Page -->
    <div class="page-wrapper">
        <!-- Begin Header -->
        @Html.Partial("_Header")
        <!-- Header End -->
        <!-- Begin Left Navigation -->
        @Html.Partial("_Sidebar")
        <!-- Left Navigation End -->
        <!-- Begin main content -->
        <div class="main-content">
            <!-- content -->
            @RenderBody()
        </div>
        <!-- main content End -->
        <!-- footer -->
        @Html.Partial("Footer")



    </div>
    <!-- Page End -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets//libs/apexcharts/apexchartv2.js"></script>
    <script src="~/assets/libs/chartjs/js/Chart.bundle.min.js"></script>
    <script src="~/assets/libs/alertifyjs/js/alertify.min.js"></script>
    <script src="~/assets/libs/flatpicker/js/flatpickr.js"></script>
    <script src="~/assets/libs/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/assets/libs/ckeditor4/ckeditor.js"></script>
    <script src="~/assets/libs/form-mask/js/jquery.mask.min.js"></script>
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
    <script src="~/assets/libs/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/libs/jquery-validation/js/additional-methods.min.js"></script>
    <script src="~/assets/libs/footable/footable.all.min.js"></script>
    <script src="~/assets/libs/mohithg-switchery/switchery.min.js"></script>
    <script src="~/assets/libs/dragula/dragula.min.js"></script>
    <script src="~/assets/libs/ladda/spin.min.js"></script>
    <script src="~/assets/libs/ladda/ladda.min.js"></script>
    <script src="~/assets/libs/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables/js/buttons.flash.min.js"></script>
    <script src="~/assets/libs/datatables/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables/js/dataTables.keyTable.min.js"></script>
    <script src="~/assets/libs/datatables/js/dataTables.select.min.js"></script>
    <script src="~/assets/libs/datatables/js/pdfmake.min.js"></script>
    <script src="~/assets/libs/datatables/js/vfs_fonts.js"></script>
    <script src="~/assets/libs/flatpicker/js/flatpickr.js"></script>
    <script src="~/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/libs/clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="~/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/assets/libs/devbridge-autocomplete/jquery.autocomplete.min.js"></script>
    <script src="~/assets/libs/jquery-mockjax/jquery.mockjax.min.js"></script>
    <script src="~/assets/libs/selectize/js/standalone/selectize.min.js"></script>
    <script src="~/assets/libs/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/assets/libs/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/assets/libs/nestable2/jquery.nestable.min.js"></script>
    <script src="~/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- ================== END PAGE LEVEL JS ================== -->
    <!-- ================== BEGIN PAGE JS ================== -->
    <script src="~/assets/js/pages/alertifyjs.init.js"></script>
    <script src="~/assets/js/pages/dragula.init.js"></script>
    <script src="~/assets/js/pages/member-profile.init.js"></script>
    <script src="~/assets/js/pages/foo-tables.init.js"></script>
    @*<script src="~/assets/js/pages/form-advanced.init.js"></script>*@
    <script src="~/assets/js/pages/bootstrap-tables.init.js"></script>
    <script src="~/assets/js/pages/loading-btn.init.js"></script>
    <script src="~/assets/libs/jquery-tabledit/js/jquery.tabledit.min.js"></script>

    @*added*@
    <!--<script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/smartwizard@6/dist/js/jquery.smartWizard.min.js" type="text/javascript"></script>
    <script src="~/assets/js/pages/form-wizard.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="~/assets/libs/dropify/js/dropify.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>-->
    <!-- ================== END PAGE JS ================== -->
    @*added*@
    <script src="~/assets/libs/datatables/js/dataTables.buttons_2.4.2.min.js"></script>
    <script src="~/assets/libs/datatables/js/buttons.colVis.2.4.2.min.js"></script>
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="~/assets/libs/smartwizard/js/smartWizard.min.js"></script>
    <script src="~/assets/js/pages/form-wizard.init.js"></script>
    <script src="~/assets/libs/cleave/js/cleave.min.js"></script>
    @*<script src="~/assets/libs/datatables/js/buttons.colVis.min.js"></script>*@
    <script src="~/assets/libs/dropify/js/dropify.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/libs/virtual-select/js/virtual-select.min.js"></script>
    <script src="~/assets/libs/xlsx/js/xlsx.full.min.js"></script>



    @RenderSection("scripts", required: false)

</body>

</html>