@model IEnumerable<PartsMySql.Models.Inspection>

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<style>
    .custom-label {
        font-size: 12px; /* Adjust the font size as needed */
    }
</style>
<div class="row" id="mainContent">
    <div class="col-md-12 sub-content">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Reports</h5>
                <div class="row">
                    <div class="col-sm-12 col-xl-12">
                        <form class="d-flex justify-content-sm-evenly" autocomplete="off">
                            <div class="d-inline-flex me-2 input-date input-date-sm">
                                <input class="form-control form-control-sm" type="text" id="dashdaterange"
                                       placeholder="03-10-19 To 04-06-20">
                                <div class="date-icon">
                                    <i class="bx bx-calendar fs-sm"></i>
                                </div>
                            </div>
                            <div class="btn-group dropdown">
                                <button type="button" data-bs-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm">
                                    <i class="bx bx-download me-1"></i> Download <i class="bx bx-chevron-down"></i>
                                </button>
                                <div class="dropdown-menu-right dropdown-menu">
                                    <a href="javascript: void(0);" class="dropdown-item">
                                        <i class="bx bx-mail-send me-1"></i> Email
                                    </a>
                                    <a href="javascript: void(0);" class="dropdown-item">
                                        <i class="bx bx-printer me-1"></i> Print
                                    </a>
                                    <a href="javascript: void(0);" class="dropdown-item">
                                        <i class="bx bx-file me-1"></i> Re-Generate
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body chart-container ">
                <table id="example" class="display" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.comments)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ctrlNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.dateEnd)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.dateStart)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.humidity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.inspectionTimeSpan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.inspectorComments)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.isArchived)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.isForReports)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.isRewrite)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.lotNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.sampleSize)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.temperature)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.totalTimeSpan)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VERSION)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Decision_ID)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.comments)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ctrlNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dateEnd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dateStart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.humidity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.inspectionTimeSpan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.inspectorComments)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.isArchived)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.isForReports)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.isRewrite)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.lotNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sampleSize)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.temperature)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.totalTimeSpan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VERSION)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Decision_ID)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row border border-1 border round fs-12">
                    <h6 class="fw-bolder mt-2">Filter</h6>
                    <div class="col-md-6 p-2">
                        <div class="form-group">
                            <label for="partsCode" class=" fw-bolder">Parts Code</label>
                            <input type="text" id="partsCode" class="form-control  form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="supplier" class=" fw-bolder">Supplier</label>
                            <input type="text" id="supplier" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="fromDate" class="fw-bolder">From</label>
                            <input type="date" id="fromDate" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div class="form-group">
                            <label for="simpleinput" class="fw-bolder">Lot Number</label>
                            <input type="text" id="simpleinput" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="simpleinput" class="fw-bolder">DR Number</label>
                            <input type="text" id="simpleinput" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="simpleinput" class="fw-bolder">To</label>
                            <input type="date" id="simpleinput" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-12 text-center mb-2">
                        <button class="btn btn-primary btn-sm">Search</button>
                    </div>
                </div>
                <div class="text-center">
                    <div class="row mt-2 ">
                        <div class="col-md-12  p-1">
                            <button class="btn btn-outline-primary btn-md m-1">Inspection Result</button>
                            <button class="btn btn-outline-primary btn-md m-1">Nonconformity Report</button>
                            <button class="btn btn-outline-primary btn-md m-1" data-bs-toggle="modal" data-bs-target="#partPerformanceModal">Part Performance</button>
                            <button class="btn btn-outline-primary btn-md m-1" id="supplierBtn">Supplier Performance</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-content" style="display:none">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title">Supplier Performance</h5>
                <i class="mdi mdi-close-thick" id="closeSupplier" style="cursor: pointer;"></i>
            </div>
            <div class="card-body">
                <div class="row border border-1 round fs-12">
                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label for="supplierP" class="fw-bolder">Supplier</label>
                            <input type="text" id="supplierP" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="fromDateP" class="fw-bolder">From</label>
                            <input type="date" id="fromDateP" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="form-group">
                            <label for="partCodeP" class="fw-bolder">Part Code</label>
                            <input type="text" id="partCodeP" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="toDateP" class="fw-bolder">To</label>
                            <input type="date" id="toDateP" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col-md-12 text-center mb-2">
                        <button class="btn btn-primary btn-sm">Search</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 mt-3 mt-xl-0">
                        <div class="card-body">
                            <ul class="list-unstyled fw-bolder fs-12 text-center">
                                <li>
                                    % of Accept Inspection : 0%
                                </li>
                                <li>
                                    % of Special Accept Inspection : 0%
                                </li>
                                <li>
                                    % of Sort Out Inspection : 0%
                                </li>
                                <li>
                                    % of RejectInspection : 0%
                                </li>
                            </ul>
                            <h5 class="fw-bolder">Total Number of Inspections: 0</h5>
                            <div class="border border-1 border round fs-12 shadow-sm rounded">
                                <table class="display" style="width:100%;">
                                    <thead class="table-light">
                                        <tr>
                                            <th>
                                                Date Finished
                                            </th>
                                            <th>
                                                Part Code
                                            </th>
                                            <th>
                                                Supplier
                                            </th>
                                            <th>
                                                Decision
                                            </th>
                                            <th>
                                                Lot Number
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                            <td>
                                                2024-02-12
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12 col-xl-12 m-2">
                                <form class="d-flex justify-content-sm-end" autocomplete="off">
                                    <div class="btn-group dropdown">
                                        <button type="button" data-bs-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                                            <i class="bx bx-download me-1"></i> Download <i class="bx bx-chevron-down"></i>
                                        </button>
                                        <div class="dropdown-menu-right dropdown-menu">
                                            <a href="javascript: void(0);" class="dropdown-item">
                                                <i class="bx bx-mail-send me-1"></i> Email
                                            </a>
                                            <a href="javascript: void(0);" class="dropdown-item">
                                                <i class="bx bx-printer me-1"></i> Print
                                            </a>
                                            <a href="javascript: void(0);" class="dropdown-item">
                                                <i class="bx bx-file me-1"></i> Re-Generate
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<div id="partPerformanceModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="partPerformanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="partPerformanceModalLabel">Part Performance</h5>
                <div class="d-flex align-content-end">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true"><a href="#" target="_blank"><i class="mdi mdi-window-maximize"></i></a></button>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true"><i class="mdi mdi-close-thick" style="cursor: pointer;"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row ">
                    <h6 class="fw-bolder text-dark">Filter</h6>
                    <div class="col-md-6">
                        <div class="row border border-1 border round fs-12">
                            <div class="col-md-4 p-2">
                                <div class="form-group">
                                    <label for="partsCode" class=" fw-bolder">Parts Code</label>
                                    <input type="text" id="partsCode" class="form-control  form-control-sm">
                                </div>
                                <div class="form-group">
                                    <label for="supplier" class=" fw-bolder">Supplier</label>
                                    <input type="text" id="supplier" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="col-md-4 p-2">
                                <div class="form-group">
                                    <label for="fromDate" class="fw-bolder">From</label>
                                    <input type="date" id="fromDate" class="form-control form-control-sm">
                                </div>
                                <div class="form-group">
                                    <label for="simpleinput" class="fw-bolder">To</label>
                                    <input type="date" id="simpleinput" class="form-control form-control-sm">
                                </div>


                            </div>
                            <div class="col-md-4 p-2">
                                <div class="form-group">
                                    <label for="simpleinput" class="fw-bolder">Cavity Number</label>
                                    <input type="text" id="simpleinput" class="form-control form-control-sm">
                                </div>
                                <div class="form-group">
                                    <label for="simpleinput" class="fw-bolder">Check Point</label>
                                    <input type="text" id="simpleinput" class="form-control form-control-sm">
                                </div>
                            </div>
                            <div class="col-md-12 text-center mb-2">
                                <button class="btn btn-primary btn-sm">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-bordered fs-12">
                            <thead class="table-light">
                                <tr>
                                    <th>
                                        Lot No.
                                    </th>
                                    <th>
                                        NG Checkpoint No.
                                    </th>
                                    <th>
                                        Specification
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>
                                        1212
                                    </td>
                                    <td>
                                        asdsad
                                    </td>
                                    <td>
                                        Test
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1212
                                    </td>
                                    <td>
                                        asdsad
                                    </td>
                                    <td>
                                        Test
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2 ml-md-1">
                        <div class="d-flex flex-column justify-content-between">
                            <button class="btn btn-outline-primary btn-sm m-1">Select All</button>
                            <button class="btn btn-outline-primary btn-sm m-1">Deselect All</button>
                            <button class="btn btn-outline-primary btn-sm m-1">Plot Charts</button>
                            <button class="btn btn-outline-primary btn-sm m-1">Plot Cavity Relation</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row d-flex justify-content-evenly fs-12 text-dark">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="simpleinput" class=" fw-bold">Parts Name</label>
                            <input type="text" id="simpleinput" class="btn btn-info btn-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="simpleinput" class="fw-bolder">Model</label>
                            <input type="text" id="simpleinput" class="btn btn-info btn-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="simpleinput" class="fw-bolder">Specification</label>
                            <input type="text" id="simpleinput" class="btn btn-info btn-sm" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <table data-toggle="table">
                        <thead>
                            <tr>
                                <th>Item ID</th>
                                <th>Item Name</th>
                                <th>Item Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Item 1</td>
                                <td>$1</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Item 2</td>
                                <td>$2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- End users load -->


<script>
    $(document).ready(function () {
        $('#supplierBtn').on('click', function () {
            let cols = $('#mainContent').find('.sub-content');
            cols.each(function (index) {
                if (index == 1) {
                    $(this).show();

                }
                $(this).removeClass('col-md-12').addClass('col-md-6');
            });
        });

        $('#closeSupplier').on('click', function () {
            let cols = $('#mainContent').find('.sub-content');
            cols.each(function (index) {
                if (index == 1) {
                    $(this).hide();
                }
                $(this).removeClass('col-md-6').addClass('col-md-12');
            });
        });
    });
</script>